$white: #fff
$lightGray: #abb8c3
$buttonBackground: rgb(42, 68, 196)
$buttonHoverBackground: rgb(27, 43, 126)

@mixin transition
  transition: .1s all ease-in-out

@mixin mainButton
  border: none
  color: $white
  background: $buttonBackground
  padding: 1em 2em
  display: flex
  justify-content: center
  align-items: center
  font-weight: bold
  cursor: pointer

h1
  color: #000
  margin: 0


body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-family: PT Sans, serif


code
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', serif
  monospace

.app
  &__inner
    max-width: 1140px
    margin: 0 auto

.header
  background-color: $white
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  font-size: calc(10px + 2vmin)
  color: white
  height: 150px

  &__logo
    text-align: center
    &--logoImg
      width: 70%
      margin: 0 auto

  &__desc
    &--title



.search
  background: $lightGray
  height: 100px

  &__container
    display: flex
    flex-direction: row
    justify-content: center
    height: 50px
    padding-top: 25px
  &__input
    height: 100%
    border: none
    width: 40%
    &--input
      height: 100%
      width: 100%
      box-sizing: border-box
      outline: none
      padding-left: 1em
      font-size: 1em
      border: none
      &:focus
        box-shadow: 0 0 10px 0 lightgray

.beer-list


.main-button
  color: $white
  &__button
    height: 100%
    @include mainButton
    @include transition
    &:hover
      background: $buttonHoverBackground
      .main-button__button--text
        transform: translate3d(8px, 0, 0)
      .main-button__button--icon
        transform: translate3d(10px, 0, 0)
        opacity: 0

    &--text
      @include transition
      padding-right: 5px
      transform: translate3d(0px, 0px, 0px)

    &--icon
      @include transition

